@font-face {
  font-family: "Cafe24Supermagic-Bold-v1.0";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: Sora;
  padding: 0px 64px;
}

nav {
  /* 레이아웃에 대한 스타일(5~10줄) */
  display: flex;
  max-width: 1280px;
  padding: 10px 32px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  /* display: flex;
  align-items: center;

  padding-left: 300px;
  padding-right: 300px;
  /*  */
  gap: 5px;
  height: 100px;
}
.navLink {
  display: flex;
  height: 56px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  height: 8px;
  background: var(--Primary-Black, #000);
  color: white;
}

.hItem1 {
  color: var(--Primary-Black, #000);
  /* Displaytext/Extra Bold */
  font-family: Sora;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.96px;
  display: inline-block;
}
.hItem2 {
  color: var(--Primary-Black, #000);

  /* Displaytext/Regular */
  font-family: Sora;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.96px;
  display: inline-block;
}
.hItem3 {
  /* Outlined/Extra Bold */
  font-family: Sora;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.96px;
  display: inline-block;
}
.stroke {
  /* Outlined/Extra Bold */
  color: #fff;

  font-family: Sora;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.96px;
  -webkit-text-stroke: 1px #000;
}

.image-container {
  display: flex;
  padding-left: 550px;
  margin-top: -180px;
  justify-content: flex-end;
  align-items: center; /* 이미지와 텍스트 사이의 여백 */
  position: absolute;
}

.image-container img {
  width: 400px; /* 이미지 크기 조절 */
  height: auto; /* 자동으로 높이 계산 */
}

.headerLinkContainer {
  display: flex;
  /* 가로는 row. */
  gap: 16px;
  flex-direction: row;
}
.headerLink {
  background-color: #000;
  padding: 10px;
  /* block으로 setting 하면 가로 꽉 채워서 스타일에 적용다 */
  display: block;
  /* 언더라인이 되어 있으면 url로 인지, but 디자인을 위해 none으로 설정*/
  text-decoration: none;
  color: #fff;
}
