@font-face {
  font-family: "Cafe24Supermagic-Bold-v1.0";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: Sora;
}

nav {
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 40px;
  height: 100px;
  max-width: 1280px;
  margin: 0 auto;
}

.navItem {
  color: #403930;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
}

header {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  max-width: 1280px;
  margin: 100px auto;
  align-items: center;
}

.hItem1 {
  color: var(--Primary-Black, #000);
  /* Displaytext/Extra Bold */
  font-family: Sora;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 100px; /* 116.667% */
  letter-spacing: -1.28px;
  display: inline-block;
}
.hItem2 {
  color: var(--Primary-Black, #000);

  /* Displaytext/Regular */
  font-family: Sora;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 116.667% */
  letter-spacing: -1.28px;
  display: inline-block;
}
.hItem3 {
  /* Outlined/Extra Bold */
  font-family: Sora;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 56px; /* 116.667% */
  letter-spacing: -1.28px;
  display: inline-block;
}

.stroke {
  /* Outlined/Extra Bold */
  color: #fff;

  font-family: Sora;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.96px;
  -webkit-text-stroke: 1px #000;
}
.headerLinkContainer {
  display: flex;
  gap: 16px;
  margin-top: 40px;
}

.headerLink {
  display: flex;
  padding: 24px 40px;
  gap: 10px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
  border-radius: 16px;
  text-decoration: none;
  border: solid 4px black;
}
.black {
  background-color: black;
  color: #e6eeff;
}

.outline {
  color: #403930;
}

.profileImage {
  border-radius: 500px;
  border: 10px solid #bcf2f9;
  width: 250px;
  height: 250px;
  background-image: url(증명사진1.jpg);
  background-size: cover;
  background-position: 60%;
}
/* --- About Me---  */

.aboutMeContainer {
  background: linear-gradient(
    96deg,
    rgba(189, 210, 255, 0.4) 1.72%,
    rgba(116, 224, 215, 0.4) 158.93%
  );
}
.aboutMe {
  max-width: 1280px;
  margin: 0 auto;
  padding: 120px 20px;
}
.aboutMe h2 {
  color: #000;
  font-size: 40px;
  /* white-space: pre-line; */
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 50px */
  letter-spacing: -0.8px;
}

.aboutMe p {
  color: #333;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
  white-space: pre-line;
}

.posRelative {
  position: relative;
}

.fixedContactButton {
  position: fixed;
  right: 130px;
  bottom: 60px;

  border-radius: 50px;
  border: 10px solid #bbd5f7;
  background: linear-gradient(
    98deg,
    #bed3ff -10.83%,
    #d2f3e5 51.79%,
    #ffebd9 110.76%
  );
  width: 165px;
  padding: 20px 30px;
  color: rgba(64, 57, 48, 0.8);

  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.fixedContactButton a {
  color: black;
}

/* --- Tech Stack---  */
.techStackContainer {
  background: #fff;
}
.techStack {
  max-width: 1280px;
  margin: 0 auto;
  padding: 120px 20px;
}
.techStack h2 {
  text-align: center;
  color: #000;
  font-size: 40px;
  /* white-space: pre-line; */
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 50px */
  letter-spacing: -0.8px;
}
.techStack p {
  text-align: center;
  color: #333;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
  white-space: pre-line;
}
