@font-face {
  font-family: "Cafe24Supermagic-Bold-v1.0";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: Sora;
  margin: 0;
}

nav {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 0 20px;
  gap: 40px;
  height: 100px;
  max-width: 1280px;
  margin: 0 auto;
}

.navItem {
  color: #403930;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
}

header {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  /* max-width: 1280px; */
  margin-left: 100px;
  /* align-items: center; */
}
.badge {
  padding: 12px 24px;
  border-radius: 10px;
  background: #e6eeff;
  width: fit-content;

  /* 텍스트 속성 */
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */

  margin-bottom: 40px;
}

.hItem1 {
  color: var(--Primary-Black, #000);
  /* Displaytext/Extra Bold */
  font-family: Sora;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 100px; /* 116.667% */
  letter-spacing: -1.28px;
  display: inline-block;
}
.hItem2 {
  color: var(--Primary-Black, #000);

  /* Displaytext/Regular */
  font-family: Sora;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 116.667% */
  letter-spacing: -1.28px;
  display: inline-block;
}
.hItem3 {
  /* Outlined/Extra Bold */
  font-family: Sora;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 56px; /* 116.667% */
  letter-spacing: -1.28px;
  display: inline-block;
}

.stroke {
  /* Outlined/Extra Bold */
  color: #fff;

  font-family: Sora;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.96px;
  -webkit-text-stroke: 1px #000;
}
.headerLinkContainer {
  display: flex;
  gap: 16px;
  margin-top: 40px;
}

.headerLink {
  display: flex;
  padding: 24px 40px;
  gap: 10px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
  border-radius: 16px;
  text-decoration: none;
  border: solid 4px black;
}
.black {
  background-color: black;
  color: #e6eeff;
}

.outline {
  color: #403930;
}
.fade-in-box {
  display: inline-block;
  padding: 10px;
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.profileImage {
  border-radius: 500px;
  margin-right: 80px;
  border: 5px solid #000000;
  width: 400px;
  height: 400px;
  background-image: url(myneww.jpg);
  background-size: cover;
  background-position: 60%;
}
/* --- About Me---  */

.aboutMeContainer {
  background: linear-gradient(
    96deg,
    #000 1.72%,
    rgba(2, 0, 0, 0.185) 158.93%
  );
}
.aboutMe {
  /* max-width: 100%; */
  margin: 0 auto;
  padding: 120px 80px;
}
.aboutMe h2 {
  color: #ffffff;
  font-size: 40px;
  /* white-space: pre-line; */
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 50px */
  letter-spacing: -0.8px;
}

.aboutMe p {
  color: #ffffff;
  max-width: 1100px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
  /* white-space: pre-line; */
}

.fixedContactButton {
  position: fixed;
  right: 70px;
  bottom: 50px;

  border-radius: 50px;
  border: 3px solid #000;
  background: linear-gradient(
    98deg,
    #000 -10.83%,
    #262b74 51.79%,
    #afbdff 110.76%
  );
  width: 135px;
  height: 50px;
  padding: 20px 30px;
  color: #fff;

  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.fixedContactButton a {
  color: #fff;
}
@media (max-width: 768px) {
  .fixedContactButton {
    display: none;
  }
  body {
    background-color: ;
  }
}

/* --- Tech Stack---  */
.techStackContainer {
  background: #fff;
}
.techStack {
  max-width: 1280px;
  margin: 0 auto;
  padding: 120px 20px;
}
.techStack h2 {
  text-align: center;
  color: #000;
  font-size: 40px;
  /* white-space: pre-line; */
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 50px */
  letter-spacing: -0.8px;
}
.techStack p {
  text-align: center;
  color: #333;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
  white-space: pre-line;
}

.product-list {
  text-align: center;
}
.product-list img {
  margin: 30px; /* 이미지 간격 조절 */
  width: 150px;
}

/* ----- 애니메이션 ---- */
.css-typing span {
  border-right: 0.1em solid #000;
  height: 80px;
  white-space: nowrap;
  overflow: hidden;
}
.css-typing span:nth-child(1) {
  width: 11.3em;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid #fff;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

/* --- project ---  */
.projectContainer {
  background: rgba(244, 244, 244, 0.5);
}
.projects {
  max-width: 1280px;
  margin: 0 auto;
  padding: 120px 20px;
}
.project {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 3px 8px 10px rgba(0, 0, 0, 0.15);
}
.projects h1{
  font-size: 48px;
  padding-left: 20px;
}
.project h3 {
  color: #fff;
  max-width: 600px;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
  /* 50px */
  letter-spacing: -0.8px;
  display: flex;
  margin: 15px 30px;
}
.project span {
  max-width: 700px;
  font-size: 20px;
  line-height: 50%;
  letter-spacing: -0.8px;
  margin: 30px;
}
.project p {
  max-width: 700px;
  align-self: stretch;
  color: #e2e0de;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */ /* 30px */
  letter-spacing: -0.8px;
  margin: 30px;
}
.projectImage1 {
  padding-right: 20px;
}

.projectImage1 img {
  text-align: right;
  width: 130px;
  height: 250px;
}
.projectImage2 {
  padding-right: 20px;
}
.projectImage2 img {
  text-align: right;
  width: 435px;
  height: 250px;
}
.project img {
  margin-top: 25px;
  margin-right: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

/* recommed */
.recommendContainer {
}
.recommend {
  max-width: 1280px;
  margin: 0 auto;
  padding: 120px 20px;
}
.recommend h2 {
  color: #000;
  text-align: center;
  font-size: 30px;
  /* white-space: pre-line; */
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 50px */
  letter-spacing: -0.8px;
}
.frame {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.assessment {
  display: flex;
  width: 460px;
  height: 264px;
  padding: 0px 39px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  background: #fafafa;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}
.assessment span {
  color: #403930;

  text-align: center;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 125% */
}

.lastContainer {
  background: #000;
  display: flex;
  height: 406px;
  padding: 64px 50px;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 10px;
}
.last h2 {
  color: #fff;
  max-width: 1000px;
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 60px */
  letter-spacing: -0.96px;
  margin: 20px;
  text-shadow: 1px 1px 0px #ffffff, 5px 5px 3px #858585;

  
}

.footerTextContainer{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.logobuttons {
  /* display: flex;
  align-items: flex-end; */
  /* height: 100px; */
  text-align: center;
  margin-top: 100px;;
}



.logos img {
  max-width: 100%;
  height: auto;
  
}
.instagram-logo {
  text-decoration: none;
}

.instagram-logo img{
  width: 45px;
  
}

.linkedin-logo img{
  width: 25px;
  margin-bottom: 5px;
}
